* {
    box-sizing: border-box;
}
body {
       font-family: 'Arial', sans-serif;
}
.scene {
     width: 100%;
     height: 100%;
	 min-height: 500px;
	 position: relative;
	 top: 0px;
	 left: 0px;
	 background-color: #E0FFFF;
	 transform: translate3d(0, 0, 0);
}
.layer-5 {
     animation: animation_fg linear 70s infinite both; 
	 background: url(https://i.ibb.co/rMv0SmB/1.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 480px;
}
.layer-4 {
     animation: animation_fg linear 60s infinite both; 
	 background: url(https://i.ibb.co/hVD3c0J/2.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 519px;
}
.layer-3 {
     animation: animation_fg linear 55s infinite both; 
	 background: url(https://i.ibb.co/099LYGh/3.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 551px;
}
.layer-2 {
     animation: animation_fg linear 35s infinite both; 
	 background: url(https://i.ibb.co/WG4DdNt/4.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 272px;
}
.layer-1 {
     animation: animation_fg linear 35s infinite both; 
	 background:  url(https://i.ibb.co/8m0tNPc/5.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 139px;
}
.object-1 {
     background: url(https://i.ibb.co/HgRzHfM/rabbit.png) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 0px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 208px;
	 animation: animation_object linear 40s infinite both;
}
.object-2 {
     background:  url(https://i.ibb.co/yhWnHzy/wolf.png) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 0px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 246px;
	 animation: animation_object linear 30s infinite both;
}
.object-2 {
     animation: animation_object object-2 linear 30s infinite both;
}
@keyframes animation_fg {
 0% {
background-position: 2765px 100%;
}
100% {
    background-position: 550px 100%;
  }
}
@keyframes animation_object {
0% {
background-position: -300px 100%;
}
  100% {
background-position: 2000px 100%;
}
}